@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #FAFAFA;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: none;
    display: flex !important;
    background: #FAFAFA;
    position: fixed;
    width: 100%;
    background-color: #3d3d3a;
    padding: 22px 1px;
    padding-left: 2%;
    padding-right: 0%;
    top: 0;
    z-index: 5;
}

a {
    width: 30%;
    background-color: #3d3d3a;
}

.search_form {
    width: 60%;
}

.header_contents {
    width: 51%;
    display: flex;
    margin-right: 0px;
    justify-content: space-evenly;
}

.header_post, .profile, .header_login, .header_register, .header_logout {
    border-radius: 7px;
    background: #fc0;
    width: 92px;
    border: none;
    height: 35px;
}

.register_wrapper {
    display: none;
    padding-top: 2%;
    margin-top: 9% !important;
    max-width: 40em;
    margin: auto;
    border-radius: 8px;
}

.close_nav {
    display: none;
    border-radius: 7px;
    background: #fc0;
    width: 92px;
    border: none;
    height: 35px;
    color: blue;
}

.hamburger {
    display: none;
}

.login_wrapper {
    display: none;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 9% !important;
    max-width: 40em;
    margin: auto;
    border: 10px solid white;
    border-radius: 8px;
}

.feed_wrapper {
    height: 100%;
    /*  display: none;  */
}

.login_wrapper .noAccount_bt {
    border: 2px solid white;
    border-radius: 11px;
    width: 32%;
    height: 35px;
    color: white;
    background: #fc0;
    margin-left: 34%;
    margin-top: 6%;
}

.login_wrapper .login_header {
    border: 1px solid;
    padding: 2% 1%;
    background: white;
    border-radius: 6px;
    margin-bottom: 7%;
    text-align: center;
}

.login_wrapper .login_header_error {
    border: 1px solid red;
    padding: 2% 1%;
    background: #ffabab69;
    color: red;
    border-radius: 6px;
    margin-bottom: 7%;
    text-align: center;
}

.userProfileWrapper {
    width: 30%;
    position: sticky;
    top: 87px;
    margin-top: 111px;
    background: #EDEAE5;
    height: 100%;
    display: none;
    height: 100vh;
}

.userProfileWrapper li {
    list-style-type: none;
}

.userProfileWrapper li:nth-child(1) {
    text-align: center;
    padding: 11% 1%;
}

.userProfileWrapper li:nth-child(2) {
    text-align: center;
    padding: 7% 1%;
}

.userProfileWrapper .profile_name {
    font-size: 20px;
    text-align: center;
}

.profile_right {
    background: #FAFAFA;
    width: 60%;
    text-align: center;
    display: inline-block;
    padding-top: 50px;
    margin-top: 50px;
    height: 100%;
}

.profile_inner_container {
    background: #FFFFFF;
    /* padding: 10px 38px; */
    width: 91%;
    margin: auto;
    margin-top: 28px;
}

.userProfileWrapper .pro_li {
    padding: 10px 10px;
    border-top: 1px solid;
}

.userProfileWrapper .proImage {
    width: 50%;
}

.search_message {
    display: none;
    opacity: 0.6;
    width: 100%;
    position: fixed;
    /* margin: auto; */
    margin-top: 100px;
    background: #232324;
    height: 45px;
    padding-top: 10px;
    margin-top: 7%;
    z-index: 5;
    margin: auto;
    margin-top: 79px;
}

.register_wrapper .reg_back_bt {
    border: 1.5px solid white;
    border-radius: 8px;
    background: #d4cca9;
    height: 35px;
    width: 35%;
    color: black;
}

.register_wrapper .reg_later_bt {
    border: 1.5px solid white;
    border-radius: 8px;
    background: #d4cca9;
    height: 35px;
    width: 35%;
    margin-left: 54%;
    color: black;
}

.register_wrapper .register_header {
    margin-bottom: 5%;
    color: rgb(49, 46, 46);
    border: 1px;
    border-radius: 5px;
    font-size: large;
}

.register_wrapper .light-border {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
}

.register_wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

.register_wrapper li {
    width: 30%;
    margin: .5em;
}

.register_wrapper figure {
    margin: 0;
    padding: 0;
}

.register_wrapper .resp {
    width: 100%;
}

.register_wrapper input, button {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}

.register_wrapper button {
    color: black;
}

.register_wrapper .register_footer {
    width: 100%;
    display: flex;
    padding: 7% 1%;
    text-align: center;
}

.register_wrapper .register {
    margin: auto;
    display: inline-block;
    text-decoration: none;
    border: 1px solid darkgoldenrod;
    padding: 1% 1%;
    border-radius: 6px;
}

.register_wrapper .register_later {
    margin: auto;
    display: inline-block;
    text-decoration: none;
    border: 1px solid darkgoldenrod;
    padding: 1% 1%;
    border-radius: 6px;
}

.register_wrapper .error_box {
    color: #f20052;
    border: 1px solid red;
    padding: 0.7em 2em;
    z-index: 6;
    background: #e427275c;
    width: 100%;
}

.search_but {
    width: 10px;
    background-color: #3d3d3a;
    border-left: 0;
    padding: 0px 0px;
    margin-top: 0px;
    border-radius: 10px;
    margin-left: -9%;
    padding-top: -7px;
    border: none;
}

header ::placeholder {
    color: #FAFAFA;
}

.feed_container:after {
    content: "";
    display: table;
    clear: both;
}

.search_input {
    width: 80%;
    padding: 7px 0px;
    padding-left: 10px;
    margin-top: -4px;
    border-radius: 10px;
    color: #FAFAFA;
    background-color: #3d3d3a;
    border: 2px solid #FAFAFA;
}

.logo {
    width: 80px;
}

.right {
    background: #FAFAFA;
    width: 100%;
    padding-top: 50px;
    margin-top: 50px;
    height: 100%;
}

.card_holder {
    margin-bottom: 4%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.column {
    float: left;
}

.left {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: none;
}

.login_left_div {
    display: flex;
    justify-content: space-evenly;
    padding: 4% 1%;
    text-align: center;
}

.left_child {
    height: 70%;
    position: fixed;
    width: 29%;
}

.far, .fas {
    font-size: 17px;
    color: black;
}

.fa-user:before {
    color: black;
    content: "\f007";
}

.post_form {
    width: 50%;
    margin: auto;
    height: 100%;
    padding-top: 5%;
    padding-left: 4%;
}

.create_post_image {
    width: 30%;
    margin: auto;
    border: 1px solid whitesmoke;
    border-radius: 8px;
}

.create_post_image_div {
    width: 100%;
    text-align: center;
    background: #FAFAFA;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 3%;
}

.light-border {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
    display: table;
    width: 100%;
    text-align: center;
}

.search_but .fas {
    color: white;
}

.pro_img {
    width: 100%;
    border-radius: 20px;
}

.card {
    background: #fff;
    height: 100%;
    width: 100%;
    margin: inherit;
    margin-left: 0%;
    border: 8px solid #ffffff8a;
    border-radius: 8px;
    padding-bottom: 0%;
}

.card_header {
    padding: 15px;
    background: white;
    position: relative;
}

.profile_image {
    background: hotpink;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
}

.user_name {
    display: inline-block;
    position: relative;
    padding-left: 7px;
}

.time {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 15px;
    top: -1px;
}

.content .postPic {
    width: 100%;
}

.discription {
    padding: 5px 10px;
}

.comment {
    width: 100%;
    padding-left: 1%;
}

.comment_input {
    width: 75%;
    display: inline-block;
}

.comment_number {
    display: inline-block;
    width: 23%;
    font-size: x-small;
    padding-left: 0%;
}

.comment_input input {
    height: 25px;
    width: 90%;
    border: 1px;
    background: whitesmoke;
    border-radius: 20px;
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    a {
        width: 30%;
        background-color: #0087cd;
    }
    .logo {
        width: 50px;
        animation: move 1s infinite alternate;
    }
    @keyframes move {
        from {
            transform: translateX(0px)
        }
        to {
            transform: translateX(0px);
        }
    }
    .search_form {
        width: 60%;
    }
    .header_contents {
        width: 51%;
        background: #fc0;
        padding-top: 20px;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        top: 73px;
        height: 500px;
        display: none;
        transition: width 2s;
    }
    .hamburger {
        background: #3d3d3d;
        ;
        padding-bottom: 29px;
        width: 15%;
        border-radius: 0px;
        border: none;
        height: 24px;
        display: block;
    }
    .hamburger .fas {
        color: #fc0;
    }
    .header_post, .profile, .header_login, .header_register, .header_logout, .close_nav {
        padding: 28px 10px;
        background: #fc0;
        padding-bottom: 45px;
        width: 100%;
        border-radius: 0px;
        border: none;
        height: 38px;
        display: block !important;
    }
    .header_contents button:hover {
        background: rgb(240, 208, 80);
    }
    .card_holder {
        margin-bottom: 4%;
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
    .mobile_nav {
        width: 100%;
        height: 300px;
        height: 89vh;
        position: absolute;
        position: fixed;
        right: 0;
        z-index: 2;
        background: #3d3d3a;
        opacity: 0.7;
        display: none;
    }
    .search_input {
        width: 80%;
        padding: 3px 0px;
        padding-left: 10px;
        margin-top: -4px;
        border-radius: 10px;
        color: #FAFAFA;
        background-color: #3d3d3a;
        border: 1.5px solid #FAFAFA;
    }
    .search_but {
        width: 10px;
        background-color: #3d3d3a;
        border-left: 0;
        padding: 0px 0px;
        margin-top: 0px;
        border-radius: 10px;
        margin-left: -15%;
        padding-top: -7px;
        border: none;
    }
    .search_but .fas {
        color: white;
        font-size: 15px;
    }
}

@media only screen and (min-width: 600px) {
    .header_post, .profile, .header_login, .header_register, .header_logout, .close_nav {
        width: 64px;
    }
    .card_holder {
        margin-bottom: 4%;
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    .header_contents {
        width: 51% !important;
        display: flex !important;
        margin-right: 0px;
        justify-content: space-evenly;
    }
    .search_form {
        width: 60%;
        margin-left: 26px;
    }
}

@media only screen and (min-width: 1200px) {
    .header_post, .profile, .header_login, .header_register, .header_logout, .close_nav {
        width: 20%;
    }
    .header_contents {
        width: 51% !important;
        display: flex !important;
        margin-right: 0px;
        justify-content: space-evenly;
    }
    .card_holder {
        margin-bottom: 4%;
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
}

.dropbtn .fas {
    color: gray !important;
}

.dropbtn {
    background: white;
    color: rgb(175, 63, 63);
    padding: 0px;
    font-size: 16px;
    text-align: center;
    width: 70px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    width: 50px;
}

.dropdown-content {
    display: none;
    /*position: absolute; */
    right: 0;
    background-color: #f9f9f9;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0.7;
}

.card_time {
    padding-left: 23px;
    position: absolute;
    top: 0;
    right: 15px;
}

.dropdown-content button {
    color: black;
    padding: 6px 3px;
    background: white;
    text-decoration: none;
    display: block;
    border: none;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


